<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/css/styles.css"/>
    <title>create account</title>
</head>
<body>
<body>
    <form action="#" method="get">
        <h1>CREATE YOUR ACCOUNT</h1>
        <hr/><br>
        <div class="text_3">
            <input type="button" class="first_name" placeholder="First name" required><br><br>
            <input type="button" class="last_name" placeholder="Last name" required><br><br>
        </div>
        <input type="email" class="email" placeholder="Email" required><br><br>
        <input type="password" class="password" placeholder="Enter password"><br><br>
        <input type="password" class="password_2" placeholder="Enter the password"><br><br>
        <input type="submit" class="create_account">
    </form>
</body>
</body>
</html>